<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.praxder.zipit</string>
	<key>category</key>
	<string>Mine</string>
	<key>connections</key>
	<dict>
		<key>08FD5B5A-BD83-42AE-8A63-91C960A72CC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C14B872-8B0F-41E5-A984-AC26D30F4EF6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2D73048B-37A3-40C1-A94E-0E7E7E6F5330</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4FCF6838-E583-406A-925F-0A8E48AFE06E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4FCF6838-E583-406A-925F-0A8E48AFE06E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BAEC945D-5F29-4FE1-B6B5-86673A0F3B18</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>605013D4-F0C5-4D4A-9F59-BD0590CC1CCF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97A1BDCA-EFBD-409C-8806-751E4573F3FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>708B13BD-20B8-4F93-B580-3B444E283D02</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D9B51D9-3291-472B-A578-7A605953DFD9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>718CB8E2-5EBC-4513-BE60-B8EB168A3AC1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8CE1A67-378B-4107-8D1D-036BB1B85013</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D9B51D9-3291-472B-A578-7A605953DFD9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C4FE9C1-7985-4E1D-8EE0-533488F1602E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C14B872-8B0F-41E5-A984-AC26D30F4EF6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F351FD58-254D-4BC1-9DFB-0C8EFE78D13A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>65C5A2F3-B2BB-4A14-83CA-F0E53649C76A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>97A1BDCA-EFBD-409C-8806-751E4573F3FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C50AF9A6-27B7-42BD-9439-F485F2162EDF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C4FE9C1-7985-4E1D-8EE0-533488F1602E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FAA1B077-B0AB-45BA-A120-591BCDD103A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A1452F91-6575-416F-9103-F72AA4BF5414</key>
		<array/>
		<key>B7FA1831-C925-47F9-BD90-1F74A4017B52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D73048B-37A3-40C1-A94E-0E7E7E6F5330</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B96E66E1-0FE9-4FEB-9B76-58168517AFC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1452F91-6575-416F-9103-F72AA4BF5414</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BAEC945D-5F29-4FE1-B6B5-86673A0F3B18</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08FD5B5A-BD83-42AE-8A63-91C960A72CC7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C12AFD21-36FA-43CF-938E-99B6AA5A87BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6B98F2F-3A09-423A-ADFF-5DBCCD67D9F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C50AF9A6-27B7-42BD-9439-F485F2162EDF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD0F3CBE-6137-401C-9F9A-398DAD5C091A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C6B98F2F-3A09-423A-ADFF-5DBCCD67D9F9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>708B13BD-20B8-4F93-B580-3B444E283D02</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F351FD58-254D-4BC1-9DFB-0C8EFE78D13A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4330038-4D8F-42E8-A55A-6440E3750B4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4330038-4D8F-42E8-A55A-6440E3750B4A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>605013D4-F0C5-4D4A-9F59-BD0590CC1CCF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F8CE1A67-378B-4107-8D1D-036BB1B85013</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7FA1831-C925-47F9-BD90-1F74A4017B52</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FAA1B077-B0AB-45BA-A120-591BCDD103A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>718CB8E2-5EBC-4513-BE60-B8EB168A3AC1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD0F3CBE-6137-401C-9F9A-398DAD5C091A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DDAC0F0F-861B-45FE-8276-2D0D9A8F3CEA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Adam Smith</string>
	<key>description</key>
	<string>File action to easily zip files</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ZipIt</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>public.zip-archive</string>
				</array>
				<key>name</key>
				<string>Unzip Files</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>B96E66E1-0FE9-4FEB-9B76-58168517AFC5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Zip Files</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>C12AFD21-36FA-43CF-938E-99B6AA5A87BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>unzipPath=$(echo $1 | sed 's/.zip$//')
unzip -d $unzipPath $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A1452F91-6575-416F-9103-F72AA4BF5414</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>dirname $1 | tr -d '\n'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>718CB8E2-5EBC-4513-BE60-B8EB168A3AC1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:inputFiles1}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FAA1B077-B0AB-45BA-A120-591BCDD103A0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>;</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>inputFiles</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>9C4FE9C1-7985-4E1D-8EE0-533488F1602E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>;</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.joinargs</string>
			<key>uid</key>
			<string>708B13BD-20B8-4F93-B580-3B444E283D02</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>.+</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>"$0"</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>C6B98F2F-3A09-423A-ADFF-5DBCCD67D9F9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:inputFilesSplittable}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>basePath</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B7FA1831-C925-47F9-BD90-1F74A4017B52</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>inputFilesSplittable</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7D9B51D9-3291-472B-A578-7A605953DFD9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>"</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>F8CE1A67-378B-4107-8D1D-036BB1B85013</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>{var:basePath}/</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>4FCF6838-E583-406A-925F-0A8E48AFE06E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:basePath}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>inputFiles</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BAEC945D-5F29-4FE1-B6B5-86673A0F3B18</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>;</string>
				<key>replacestring</key>
				<string> </string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>2D73048B-37A3-40C1-A94E-0E7E7E6F5330</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Starting to compress files</string>
				<key>title</key>
				<string>Working</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F351FD58-254D-4BC1-9DFB-0C8EFE78D13A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
  set defAnswer to item 1 of argv &amp; "/compressed.zip"
  return display dialog "Zip File Path:" default answer defAnswer buttons {"Cancel", "Ok"} default button "Ok"
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>08FD5B5A-BD83-42AE-8A63-91C960A72CC7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>button returned:Ok</string>
						<key>outputlabel</key>
						<string>zip</string>
						<key>uid</key>
						<string>65C5A2F3-B2BB-4A14-83CA-F0E53649C76A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>dontZip</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>8C14B872-8B0F-41E5-A984-AC26D30F4EF6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd $basePath
echo $inputFiles | xargs zip -rv -$compression -o $zipFileName</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FD0F3CBE-6137-401C-9F9A-398DAD5C091A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>zipFileName</key>
					<string>{query}.zip</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C50AF9A6-27B7-42BD-9439-F485F2162EDF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>.zip$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>97A1BDCA-EFBD-409C-8806-751E4573F3FF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>:</string>
				<key>discardemptyarguments</key>
				<true/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>parts</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>F4330038-4D8F-42E8-A55A-6440E3750B4A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:parts3}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>605013D4-F0C5-4D4A-9F59-BD0590CC1CCF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Compressed files into {var:zipFileName}</string>
				<key>title</key>
				<string>Success</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DDAC0F0F-861B-45FE-8276-2D0D9A8F3CEA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Description:
- Zip and unzip files using the built-in Mac `zip` and `unzip` command line utility

External Dependencies:
- None

Credits:
- Zip icons created by Freepik - Flaticon: https://www.flaticon.com/free-icons/zip</string>
	<key>uidata</key>
	<dict>
		<key>08FD5B5A-BD83-42AE-8A63-91C960A72CC7</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Show prompt asking user where they'd like to store the zipped archive</string>
			<key>xpos</key>
			<real>140</real>
			<key>ypos</key>
			<real>635</real>
		</dict>
		<key>2D73048B-37A3-40C1-A94E-0E7E7E6F5330</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Replace ";" with " "</string>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>4FCF6838-E583-406A-925F-0A8E48AFE06E</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Replace full path with relative path</string>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>605013D4-F0C5-4D4A-9F59-BD0590CC1CCF</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Extract the file name</string>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>875</real>
		</dict>
		<key>708B13BD-20B8-4F93-B580-3B444E283D02</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Join files list together</string>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>718CB8E2-5EBC-4513-BE60-B8EB168A3AC1</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Get base path of file</string>
			<key>xpos</key>
			<real>785</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>7D9B51D9-3291-472B-A578-7A605953DFD9</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Save input files for later</string>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>8C14B872-8B0F-41E5-A984-AC26D30F4EF6</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Only continue if they hit "Ok"</string>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>665</real>
		</dict>
		<key>97A1BDCA-EFBD-409C-8806-751E4573F3FF</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Remove the '.zip' extension, if it exists</string>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>875</real>
		</dict>
		<key>9C4FE9C1-7985-4E1D-8EE0-533488F1602E</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Split files into usable list</string>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>A1452F91-6575-416F-9103-F72AA4BF5414</key>
		<dict>
			<key>xpos</key>
			<real>535</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>B7FA1831-C925-47F9-BD90-1F74A4017B52</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Save base path for later and output the splittable files from earlier</string>
			<key>xpos</key>
			<real>1085</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>B96E66E1-0FE9-4FEB-9B76-58168517AFC5</key>
		<dict>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>BAEC945D-5F29-4FE1-B6B5-86673A0F3B18</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Save updated inputFiles and output base path</string>
			<key>xpos</key>
			<real>435</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>C12AFD21-36FA-43CF-938E-99B6AA5A87BD</key>
		<dict>
			<key>xpos</key>
			<real>145</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>C50AF9A6-27B7-42BD-9439-F485F2162EDF</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Create zip file path</string>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>875</real>
		</dict>
		<key>C6B98F2F-3A09-423A-ADFF-5DBCCD67D9F9</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Wrap input files in quotation marks.</string>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>DDAC0F0F-861B-45FE-8276-2D0D9A8F3CEA</key>
		<dict>
			<key>xpos</key>
			<real>135</real>
			<key>ypos</key>
			<real>1045</real>
		</dict>
		<key>F351FD58-254D-4BC1-9DFB-0C8EFE78D13A</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Show alert that compression is starting</string>
			<key>xpos</key>
			<real>425</real>
			<key>ypos</key>
			<real>635</real>
		</dict>
		<key>F4330038-4D8F-42E8-A55A-6440E3750B4A</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Split the output of the user-selection popup window</string>
			<key>xpos</key>
			<real>175</real>
			<key>ypos</key>
			<real>875</real>
		</dict>
		<key>F8CE1A67-378B-4107-8D1D-036BB1B85013</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Remove quotation marks</string>
			<key>xpos</key>
			<real>960</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>FAA1B077-B0AB-45BA-A120-591BCDD103A0</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Extract first file</string>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>FD0F3CBE-6137-401C-9F9A-398DAD5C091A</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Zip files</string>
			<key>xpos</key>
			<real>715</real>
			<key>ypos</key>
			<real>845</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>6</string>
				<key>pairs</key>
				<array>
					<array>
						<string>1</string>
						<string>1</string>
					</array>
					<array>
						<string>2</string>
						<string>2</string>
					</array>
					<array>
						<string>3</string>
						<string>3</string>
					</array>
					<array>
						<string>4</string>
						<string>4</string>
					</array>
					<array>
						<string>5</string>
						<string>5</string>
					</array>
					<array>
						<string>6</string>
						<string>6</string>
					</array>
					<array>
						<string>7</string>
						<string>7</string>
					</array>
					<array>
						<string>8</string>
						<string>8</string>
					</array>
					<array>
						<string>9</string>
						<string>9</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Compression level in the inclusive range [1,9]. One is lowest compression (but fastest) and nine is highest compression (but slowest).</string>
			<key>label</key>
			<string>Compression</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>compression</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>praxder.com</string>
</dict>
</plist>
